<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-align-last: center;
        
        }
        h3{
            font-weight: 100;
            
        }
    </style>
</head>

<body>
    <p>Pasaron 10 días del corriente mes y aún no se actualizó el indice en la tabla de la base de datos pa7_comun</p>

</body>
</html>